@model AccountModel
@{
    ViewData["Title"] = "Account";
}

<section class="h-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-white text-dark" style="border-radius: 0; border: none;">
                    <form id="loginForm" asp-action="Login" asp-controller="User" method="post">
                        <div class="card-body px-5 pb-5 text-center shadow">
                            <div class="pb-4">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <object style="width: 125px" class="pb-4" type="image/svg+xml" data="~/logo-color.svg"></object>
                                <div class="form-outline mb-4 form-group" style="color: black;">
                                    <input asp-for="ClientID" placeholder="CLIENT ID" class="form-control form-control-lg" style="border-radius: 0" />
                                    <span asp-validation-for="ClientID" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4 form-group" style="color: black;">
                                    <input asp-for="UserID" placeholder="USER ID" class="form-control form-control-lg" style="border-radius: 0" />
                                    <span asp-validation-for="UserID" class="text-danger"></span>
                                </div>
                                <div class="form-outline form-white mb-5 form-group">
                                    <input asp-for="Password" placeholder="********" class="form-control form-control-lg" style="border-radius: 0" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <button class="shadow-sm btn btn-outline-light btn-lg mt-4 px-4" style="border-radius: 0; background-color: #42afb7" type="submit">Sign me in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script lang="en" type="text/javascript">
    $(function () {
        $('#loginForm').submit(function (event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Login", "User")',
                data: formData,
                success: function (response) {
                    console.log(response);
                    if (response && response.redirectUrl) {
                        window.location.href = response.redirectUrl;
                    }
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 400) {
                        var errors = JSON.parse(xhr.responseText);
                        $.each(errors, function (key, value) {
                            var fieldName = key.charAt(0).toUpperCase() + key.slice(1);
                            var errorMessage = value[0];
                            $('[name="' + fieldName + '"]').siblings('.text-danger').text(errorMessage);
                        })
                    } else {
                        console.error(error);                }
                }
            })
        })
    })
</script>