@model AccountModel
@{
    ViewData["Title"] = "Account";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var key in ViewData.ModelState.Keys)
            {
                foreach (var error in ViewData.ModelState[key].Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

<section class="h-100">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-white text-dark" style="border-radius: 0; border: none;">
                    <form id="loginForm">
                        <div class="card-body px-5 pb-5 text-center shadow">
                            <div class="pb-4">
                                <object style="width: 125px" class="pb-4" type="image/svg+xml" data="~/logo-color.svg"></object>
                                <div class="form-outline mb-4" style="color: black;">
                                    <input asp-for="ClientID" placeholder="CLIENT ID"class="form-control form-control-lg" style="border-radius: 0" />
                                </div>
                                <div class="form-outline mb-4" style="color: black;">
                                    <input asp-for="UserID" placeholder="USER ID"class="form-control form-control-lg" style="border-radius: 0" />
                                </div>
                                <div class="form-outline form-white mb-5">
                                    <input asp-for="Password" placeholder="********" class="form-control form-control-lg" style="border-radius: 0" />
                                </div>
                                <button class="shadow-sm btn btn-outline-light btn-lg mt-4 px-4" style="border-radius: 0; background-color: #42afb7" type="submit">Sign me in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script lang="en" type="text/javascript">
    $(function () {
        $('#loginForm').submit(function (event) {
            event.preventDefault();
            console.log
            var formData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Login", "User")',
                data: formData,
                success: function (response) {
                    debugger;
                    if (response && response.redirectUrl) {
                        window.location.href = response.redirectUrl;
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    $('#error').show();
                }
            })
        })
    })
</script>