@{
    ViewData["Title"] = "Forex";
}

<div id="loadingSection">
    <div class="spinner-border m-auto" role="status" aria-hidden="true"></div>
</div>
<section class="container pt-5 bg-white" style="display: none;" id="tableSection">
    <div class="container mb-5">
        <div class="flex-row d-flex">
            <div class="flex-column me-4" id="lastRefreshedOn">
                <h3 style="color: #193d69;" class="m-0">Forex Daily Prices</h3>
                
            </div>
            <div class="flex-row d-flex">
                <select onchange="GetForexDailyPrices()" class="form-select mx-2 rounded-0" id="from_symbol" aria-label="Currency From">
                    <option selected value="EUR">EUR</option>
                    <option value="GBP">GBP</option>
                    <option value="USD">USD</option>
                </select>
                <select onchange="GetForexDailyPrices()" class="form-select mx-2 rounded-0" id="to_symbol" aria-label="Currency To">
                    <option value="EUR">EUR</option>
                    <option selected value="GBP">GBP</option>
                    <option value="USD">USD</option>
                </select>
            </div>
            <button class="d-flex align-items-center border-0 bg-white" onclick="GetForexDailyPrices()">
                <i class="bi bi-arrow-clockwise" style="font-size: 1.5rem; color: #626262"></i>
            </button>
        </div>
    </div>
    <table class="table table-bordered table-specs text-center " id="dailyPricesTable">
        <thead>
            <tr style="color: #646464">
                <th scope="col">Date</th>
                <th scope="col">Open</th>
                <th scope="col">High</th>
                <th scope="col">Low</th>
                <th scope="col">Close</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script lang="en" type="text/javascript">
    window.onload = function () {
        GetForexDailyPrices();
    }
    function GetForexDailyPrices() {
        var from_symbol = document.querySelector('#from_symbol').value;
        var to_symbol = document.querySelector('#to_symbol').value;
        var getDailyPricesParams = {
            "from_symbol": from_symbol,
            "to_symbol": to_symbol
        };
        $.ajax({
            type: "GET",
            data: getDailyPricesParams,
            url: "@Url.Action("GetDailyPrices", "Forex")",
            success: function (response) {
                console.log(response);
                document.getElementById('loadingSection').style.display = 'none';
                document.getElementById('tableSection').style.display = 'block';
                // Validate response data
                if (response && response.dailyPrices && response.lastRefreshed) {
                    var lastRefreshedContainer = $('#lastRefreshedOn');
                    var lastRefreshed = $('<p class="small m-0">');
                    lastRefreshed.empty();
                    lastRefreshed.text(response.lastRefreshed);
                    lastRefreshedContainer.append(lastRefreshed);

                    var tableBody = $('#dailyPricesTable tbody');
                    // Clear any existing rows
                    tableBody.empty();

                    $.each(response.dailyPrices, function (date, price) {
                        var row = $('<tr>')
                        row.append($('<td>').text(price.date));
                        row.append($('<td>').text(price.open));
                        row.append($('<td>').text(price.high));
                        row.append($('<td>').text(price.low));
                        row.append($('<td>').text(price.close));
                        tableBody.append(row);
                    });
                } else {
                    var tableBody = $('#tableSection');
                    tableBody.empty();

                    var maximumReached = $('<h2 style="color: #ffcc00">');
                    maximumReached.text(response);
                    tableBody.append(maximumReached);
                }
            },
            error: function (xhr, status, error) {
                console.log("Error occurred:", error);
            }
        });
    }
</script>